@model Certificates2024.Models.CandidateCertificate
@{
    ViewBag.Title = "Confirm Delete";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

   
    <div>
        <h4>Candidate Certificate</h4>
        <hr />
        <table class="table table-striped table-bordered mt-3">
            <tbody>
                <tr>
                    <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.Candidate)</td>
                    <td class="col-9">@Html.DisplayFor(model => model.Candidate.Id)</td>
                </tr>
                <tr>
                    <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.CertificateTopic)</td>
                    <td class="col-9">@Html.DisplayFor(model => model.CertificateTopic.Id)</td>
                </tr>
                <tr>
                    <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.ExaminationDate)</td>
                    <td class="col-9">@Html.DisplayFor(model => model.ExaminationDate)</td>
                </tr>
                <tr>
                    <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.CandidateScore)</td>
                    <td class="col-9">@Html.DisplayFor(model => model.CandidateScore)</td>
                </tr>
                <tr>
                    <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.MaximumScore)</td>
                    <td class="col-9">@Html.DisplayFor(model => model.MaximumScore)</td>
                </tr>
                <tr>
                    <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.ResultLabel)</td>
                    <td class="col-9">@Html.DisplayFor(model => model.ResultLabel)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete the candidate certificate?');">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger btn-sm">Delete</button> |
        <a asp-action="Index" class="link-body-emphasis">Back to List</a>
    </form>
    </div>
</body>
</html>