@model Certificates2024.Models.CandidateCertificate
@{
    ViewBag.Title = "Exam Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div>
        
        <div class="text-center mb-4">
            <h4>Exam Overview</h4>
        </div>
        
        <hr />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Candidate.Id)</th>
                    <td>@Html.DisplayFor(model => model.Candidate.Id)</td>
                </tr>
                <tr>
                    <th scope="row">Full Name</th>
                    <td>@($"{Model.Candidate.FirstName} {Model.Candidate.LastName}")</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.CertificateTopic)</th>
                    <td>@Html.DisplayFor(model => model.CertificateTopic.TopicName)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ExaminationDate)</th>
                    <td>@Html.DisplayFor(model => model.ExaminationDate)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.CandidateScore)</th>
                    <td>@Html.DisplayFor(model => model.CandidateScore)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.MaximumScore)</th>
                    <td>@Html.DisplayFor(model => model.MaximumScore)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ResultLabel)</th>
                    <td>
                        @(Model.ExaminationDate > DateTime.Now ? "Pending"
                            : Model.ResultLabel ? "Exam Passed" : "Exam Failed")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            @if (Model.IsTestEligible)
            {
                <a asp-controller="Tests" asp-action="Start" asp-route-topicId="@Model.CertificateTopic.Id" asp-route-candidateCertificateId="@Model.Id" class="btn btn-secondary btn-sm">Start Test</a>
            }
            else
            {
                <button class="btn btn-secondary btn-sm" disabled>
                    Not Eligible to Start
                    <span class="tooltip" title="You need to meet the eligibility criteria to start this test."></span>
                </button>
            }
        }
    </div>
    <br />
    <div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-action="Edit" class="link-body-emphasis" asp-route-id="@Model?.Id">Edit</a>
        }
        <a asp-action="Index" class="link-body-emphasis">Back to List</a>
    </div>
</body>
</html>