@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Test Result";
}

@model CandidateTest

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title mb-0">Test Results</h2>
                </div>
                <div class="card-body">
                    @if (Model.CandidateCertificate.ResultLabel)
                    {
                        <p class="lead"><strong>Congratulations!!</strong> You have passed the test.</p>
                    }
                    <p class="lead">Score: <strong>@Model.Score%</strong></p>
                    <ul class="list-group list-group-flush">
                        @foreach (var response in Model.Responses)
                        {
                            <li class="list-group-item">
                                <strong>Question:</strong> @response.Question.QuestionText,
                                <strong>Answer:</strong> @response.SelectedAnswer
                                <span class="badge @((response.IsCorrect) ? "bg-success" : "bg-danger")">
                                    @((response.IsCorrect) ? "Correct" : "Incorrect")
                                </span>
                            </li>
                        }
                    </ul>
                    @if (Model.Score >= 50)
                    {
                        <div class="mt-4 text-center">
                            <a asp-controller="CandidateCertificates" asp-action="Certificate" asp-route-id="@Model.CandidateCertificate.Id" class="btn btn-primary btn-lg" target="_blank">View Certificate</a>
                            @if (Model.CandidateCertificate.ResultLabel)
                            {
                                <a asp-controller="CandidateCertificates" asp-action="CertificatePdf" asp-route-id="@Model.CandidateCertificate.Id" class="btn btn-primary btn-sm">Download Certificate as PDF</a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
