@model IEnumerable<Certificates2024.Models.CertificateTopic>
@{
    ViewBag.Title = "Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1 class="display-6" style="margin-bottom: 0.5em">Topics available in our Academy</h1>
    <hr/>
    <div class="d-flex align-items-center mb-3">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-success me-3" style="height: 100%;">Create a New Topic</a>
        }
        <form class="d-flex" asp-controller="CertificateTopics" asp-action="Filter">
            <input name="searchString" type="text" class="form-control me-2" placeholder="Filter Topics.." aria-describedby="button-addon2" style="width: 250px; height: 100%;">
            <button class="btn btn-secondary btn-sm" type="submit" style="height: 100%;"><i class="bi bi-search"></i> Search</button>
        </form>
    </div>

<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card border-0 rounded-3" style="max-width: 18rem; box-shadow: 0px 15px 30px rgba(0, 75, 200, 0.6);">
                <div class="card-header text-center bg-primary text-white fw-bold rounded-top">
                    @Html.DisplayFor(modelItem => item.TopicName)
                </div>
                <div class="card-body text-dark">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <h6 class="card-title fw-semibold">@Html.DisplayFor(modelItem => item.Price) €</h6>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm text-white">Details</a>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        <a asp-controller="CandidateCertificates" asp-action="Create" asp-route-topicId="@item.Id" class="btn btn-success btn-sm">Book Now</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
</body>
</html>
