@model Certificates2024.Models.Question

@{
    ViewBag.Title = "Delete Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Delete Question - @Html.DisplayFor(model => model.Id) of @Certificates2024.Data.Static.EnumExtensions.GetDescription(Model.CertificateTopic.TopicName)</h4>


<div>
    <hr />
    <table class="table table-striped table-bordered mt-3">
        <tbody>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.QuestionText)</td>
                <td class="col-9">@Html.DisplayFor(model => model.QuestionText)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.CertificateTopic.TopicName)</td>
                <td class="col-9">@Certificates2024.Data.Static.EnumExtensions.GetDescription(Model.CertificateTopic.TopicName)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.ImageSource)</td>
                <td class="col-9">@Html.DisplayFor(model => model.ImageSource)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.BooleanA)</td>
                <td class="col-9">@Html.DisplayFor(model => model.BooleanA)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.AnswerA)</td>
                <td class="col-9">@Html.DisplayFor(model => model.AnswerA)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.BooleanB)</td>
                <td class="col-9">@Html.DisplayFor(model => model.BooleanB)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.AnswerB)</td>
                <td class="col-9">@Html.DisplayFor(model => model.AnswerB)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.BooleanC)</td>
                <td class="col-9">@Html.DisplayFor(model => model.BooleanC)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.AnswerC)</td>
                <td class="col-9">@Html.DisplayFor(model => model.AnswerC)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.BooleanD)</td>
                <td class="col-9">@Html.DisplayFor(model => model.BooleanD)</td>
            </tr>
            <tr>
                <td class="fw-bold col-3 text-truncate">@Html.DisplayNameFor(model => model.AnswerD)</td>
                <td class="col-9">@Html.DisplayFor(model => model.AnswerD)</td>
            </tr>
        </tbody>
    </table>
</div>
    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete the Question?');">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button> |
        <a asp-action="Index" class="link-body-emphasis">Back to List</a>
    </form>
</div>
