@model Certificates2024.Models.Question

@{
    ViewBag.Title = "Question Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Details of Question - @Html.DisplayFor(model => model.Id) of @Html.DisplayFor(model => model.CertificateTopic.TopicName)</h4>
    <hr />
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.QuestionText)</th>
                <td>@Html.DisplayFor(model => model.QuestionText)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CertificateTopic)</th>
                <td>@Html.DisplayFor(model => model.CertificateTopic.TopicName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ImageSource)</th>
                <td>@Html.DisplayFor(model => model.ImageSource)</td>
            </tr>
            @if (!string.IsNullOrEmpty(@Model.ImageSource))
            {
            <tr>
                <th>Image</th>
                <td>
                    <img src="@Model.ImageSource" alt="Question Image" class="img-fluid" style="max-width: 60%; max-height: 60%;" />
                </td>
            </tr>
            }
            <tr>
                <th>@Html.DisplayNameFor(model => model.BooleanA)</th>
                <td>@Html.DisplayFor(model => model.BooleanA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AnswerA)</th>
                <td>@Html.DisplayFor(model => model.AnswerA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BooleanB)</th>
                <td>@Html.DisplayFor(model => model.BooleanB)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AnswerB)</th>
                <td>@Html.DisplayFor(model => model.AnswerB)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BooleanC)</th>
                <td>@Html.DisplayFor(model => model.BooleanC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AnswerC)</th>
                <td>@Html.DisplayFor(model => model.AnswerC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BooleanD)</th>
                <td>@Html.DisplayFor(model => model.BooleanD)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AnswerD)</th>
                <td>@Html.DisplayFor(model => model.AnswerD)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="link-body-emphasis">Back to List</a>
</div>
